img {
  max-width: 1800px;
}
.header {
  display: flex;
  background-color: #585144;
  width: 1681px;
  height: 113px;
  flex-shrink: 0;
  border-radius: 16px;
  gap: 20px;
  padding: 10px;
}
h1 {
  color: #352c1d;
  text-align: right;
  font-family: Allan;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.9%;
  width: 1511px; /
}
h3 {
  color: #f7f2df;
  text-align: center;
  font-family: Allan;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body {
  background: url(fond.jpg);

}

p {
  color: #201b15;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  color: #201b15;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f2df;
  border-radius: 54px;
  background: #f7f2df;
  width: 410px;
  height: 532px;
  flex-shrink: 0;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f2df;
  border-radius: 54px;
  background: #f7f2df;
  width: 410px;
  height: 532px;
  flex-shrink: 0;
}

.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f2df;
  border-radius: 54px;
  background: #f7f2df;
  width: 410px;
  height: 532px;
  flex-shrink: 0;
  align-self: center;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

label {
  color: #f7f2df;
  text-align: start;
  font-family: Allan;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 300px;
  margin-left: 340px;
}

input {
  border-radius: 59px;
  background: #f7f2df;
  width: 1091px;
  height: 92px;
  flex-shrink: 0;
  padding-left: 30px;
  align-self: center;
}

:placeholder-shown {
  color: #000;
  text-align: start;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}

button {
  border-radius: 59px;
  background: #887c36;
  width: 295px;
  height: 92px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: end;
  margin-right: 310px;
  margin-top: 20px;

}
.form-group {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem;
}

footer {
  background-color: #d7d1c2;
  color: #2e2318;
  padding: 2rem 1rem;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  font-family: Inter;

}

.logo-footer {
  background-color: #2e2318;
  color: #f6f0e0;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 100px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  border-top: 1px solid #aaa;
  padding-top: 1rem;
}

.footer-bottom p {
font-size: 10px;
}